<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DefReview.Properties.KMVsQuerySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DefReview.Properties.SummarySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DefReview.Properties.NetworkSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DefReview.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <DefReview.Properties.KMVsQuerySettings>
            <setting name="KMVsQueryTemplatePath" serializeAs="String">
                <value>D:\Documents\Visual Studio 2012\Projects\DefReviewPlus\templates\KMVsQueryTemplate.xlsx</value>
            </setting>
            <setting name="KMVsQueryTopLeftCell" serializeAs="String">
                <value>A3</value>
            </setting>
            <setting name="KMVsQueryWorksheetName" serializeAs="String">
                <value>query</value>
            </setting>
            <setting name="KMVsQueryFileNameTemplate" serializeAs="String">
                <value>{0} - {1:d}.xlsx</value>
            </setting>
            <setting name="KMVsQueryOutputFolder" serializeAs="String">
                <value>D:/Desktop/output</value>
            </setting>
        </DefReview.Properties.KMVsQuerySettings>
        <DefReview.Properties.SummarySettings>
            <setting name="TotalIsLast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SummaryOutputFileNameTemplate" serializeAs="String">
                <value>{0:d} - {1:d}.csv</value>
            </setting>
            <setting name="SummaryErrorFileNameTemplate" serializeAs="String">
                <value>{0:d} - {1:d} errors.txt</value>
            </setting>
            <setting name="SummaryOutputFolder" serializeAs="String">
                <value>D:\Desktop\output</value>
            </setting>
            <setting name="SummaryTemplatePath" serializeAs="String">
                <value>D:\Documents\Visual Studio 2012\Projects\DefReviewPlus\templates\SummaryTemplate.xlsx</value>
            </setting>
        </DefReview.Properties.SummarySettings>
        <DefReview.Properties.NetworkSettings>
            <setting name="NetworkCredentials_username" serializeAs="String">
                <value>ev.ilginis</value>
            </setting>
            <setting name="NetworkCredentials_password" serializeAs="String">
                <value>bhujmkOie</value>
            </setting>
            <setting name="SmtpUseDefaultCredentials" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SmtpEnableSsl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="SmtpHost" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="FromAddress" serializeAs="String">
                <value>ev.ilginis@gmail.com</value>
            </setting>
            <setting name="Subject" serializeAs="String">
                <value>Nepanaikinti defektai</value>
            </setting>
            <setting name="Body" serializeAs="String">
                <value>Prašome peržiūrėti prikabintą failą, užpildyti lentelėje, kurie defektai yra pašalinti, ir failą atsiųsti mums.</value>
            </setting>
        </DefReview.Properties.NetworkSettings>
        <DefReview.Properties.Settings>
            <setting name="DefectDBPath" serializeAs="String">
                <value>D:/Desktop/savaitės/Ataskaitinė (2).mdb</value>
            </setting>
            <setting name="OptionsDBPath" serializeAs="String">
                <value>D:/Documents/Visual Studio 2012/Projects/DefReview/db/Options.accdb</value>
            </setting>
            <setting name="KMVsQueryTemplatePath" serializeAs="String">
                <value>D:\Documents\Visual Studio 2012\Projects\DefReview\templates\KMVsQueryTemplate.xlsx</value>
            </setting>
            <setting name="KMVsQueryTopLeftCell" serializeAs="String">
                <value>A3</value>
            </setting>
            <setting name="KMVsQueryWorksheetName" serializeAs="String">
                <value>query</value>
            </setting>
            <setting name="KMVsQueryFileNameTemplate" serializeAs="String">
                <value>{0} - {1:d}.xlsx</value>
            </setting>
            <setting name="KMVsQueryOutputFolder" serializeAs="String">
                <value>D:/Desktop/output</value>
            </setting>
            <setting name="Summary2ErrorFileNameTemplate" serializeAs="String">
                <value>{0:d} - {1:d} summary2 errors.txt</value>
            </setting>
            <setting name="SummaryOutputFolder" serializeAs="String">
                <value>D:\Desktop\output</value>
            </setting>
            <setting name="Summary2TemplatePath" serializeAs="String">
                <value>D:\Documents\Visual Studio 2012\Projects\DefReview\templates\Summary2Template.xlsx</value>
            </setting>
            <setting name="Summary2WorksheetName" serializeAs="String">
                <value>Summary2</value>
            </setting>
            <setting name="Summary2OutputFileNameTemplate" serializeAs="String">
                <value>{0:d} - {1:d} summary2.xlsx</value>
            </setting>
            <setting name="Summary2HeaderAddress" serializeAs="String">
                <value>A1</value>
            </setting>
            <setting name="Summary1HeaderAddress" serializeAs="String">
                <value>A1</value>
            </setting>
            <setting name="Summary1OutputFileNameTemplate" serializeAs="String">
                <value>{0:d} - {1:d} summary1.xlsx</value>
            </setting>
            <setting name="Summary1TemplatePath" serializeAs="String">
                <value>D:\Documents\Visual Studio 2012\Projects\DefReview\templates\Summary1TemplateHorizontal.xlsx</value>
            </setting>
            <setting name="Summary1WorksheetName" serializeAs="String">
                <value>Summary1</value>
            </setting>
            <setting name="Summary1ErrorFileNameTemplate" serializeAs="String">
                <value>{0:d} - {1:d} summary1 errors.txt</value>
            </setting>
        </DefReview.Properties.Settings>
    </userSettings>
</configuration>